langchain
langgraph
langchain_openai
langchain-chroma
langchain_community
langchain-huggingface
langchain-mcp-adapters
langchain-experimental
langchain-google-genai
langchain_postgres

llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-embeddings-langchain
llama-index-llms-lmstudio
huggingface_hub[hf_xet]
llama-index
chromadb
openai
mem0ai

python-dotenv

beautifulsoup4
sentence-transformers
markdownify
pydantic